@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
body {
    margin: 15px;
    background: url(/static/images/paperBGdd.png);
    font-family: 'Montserrat', sans-serif;
}

.bloco {
    display: flex;
    justify-content: center;
    text-align: center;
}

.botao-header {
    background-color: rgb(53, 53, 53);
    color: white;
    text-decoration: none;
    margin:2%;
    padding: 1%;
    border-radius: 10px;
}




.update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(206, 206, 206);
    padding: 15px;
    font-weight: bold;
}

.update .elemento {
    margin-top: 15px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.update label {
    margin-right: 10px;
    margin-left: 10px;
}


.update button {
    margin-top: 15px;
    width: 150px;
}
.update #descricao {
    width: 300px;
    height: 150px;
    word-break: break-word;
}

.tabela{
    border-spacing: 0;
    margin: 0 50px 20px;
    width: 100%;
}
.tabela:nth-child(even)   {
    text-decoration: none;
    color: rgb(61, 61, 61);
    background-color: rgb(224, 213, 213);
    padding: 1%;
    border-radius: 5px;
}

.tabela tr:nth-child(even) a {
    text-decoration: none;
    background-color: rgb(224, 213, 213);
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.tabela tr:nth-child(odd) a {
    text-decoration: none;
    background-color: rgb(158, 40, 40);
    color: white;
    padding: 5px;
    border-radius: 5px;
}


.tabela tr:nth-child(even) td{
    background-color: rgb(158, 40, 40);
    color: white;
}
.tabela tr:nth-child(odd) td{
    background-color: rgb(224, 213, 213);
}

.tabela td{
    padding: 10px;
}

.tabela_header td{
    font-weight: bold;
}
button{border:none; background: none; cursor: pointer;}