* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #270c01;
}

.bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  margin-top: 15px;
  height: 150px;
}

.musica {
  display: none;
}

