<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Monstro</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    {% include 'header.html' %}
    
    <div class="bloco criar">
        <h1> Criar registros </h1>
    </div>


    {% if not novo_id %}

    <div class="bloco">
        <form class="update" action="/create" method="post">
            <div class="elemento">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">
                <label for="tipo">Tipo</label>
                <input type="text" name="tipo" id="tipo">
            </div>
    
            <div class="elemento">
                <label for="descricaogeral">Descrição Geral</label>
                <input type="text" name="descricaogeral" id="descricaogeral">
            </div>
            <div class="elemento">
                <label for="imagem_url">Imagem URL</label>
                <input type="text" name="imagem_url" id="imagem_url">
            </div>
    
            <div class="elemento">
                <label for="niveldesafio">Nivel do desafio</label>
                <input type="number" name="niveldesafio" id="niveldesafio" >
                <label for="ca">CA</label>
                <input type="number"  name="ca" id="ca">
            </div>
    
            <div class="elemento">
                <label for="tipo">PV</label>
                <input type="number"  name="pv" id="pv">
                <label for="deslocamento">Deslocamento</label>
                <input type="number" name="deslocamento" id="deslocamento">
            </div>
    
            <div class="elemento">
                <label for="forca">Força</label>
                <input type="number"  name="forca" id="forca">
                <label for="destreza">Destreza</label>
                <input type="number"  name="destreza" id="destreza">
            </div>
    
            <div class="elemento">
                <label for="inteligencia">Inteligência</label>
                <input type="number"  name="inteligencia" id="inteligencia">
                <label for="sabedoria">Sabedoria</label>
                <input type="number"  name="sabedoria" id="sabedoria">
            </div>
    
            <div class="elemento">
                <label for="carisma">Carisma</label>
                <input type="number"  name="carisma" id="carisma">
                <label for="constituicao">Constituição</label>
                <input type="number"   name="constituicao" id="constituicao">
                <label for="nomesimplificado">Nome simplificado</label>
                <input type="text"  placeholder="Nome usado nos arquivos de imagem e som." name="nomesimplificado" id="nomesimplificado">
            </div>
            
            <button type="submit">Atualizar</button>        
        </form>
    </div>

    {% else %}

    <div class="bloco">
        <p>
            Registro criado com sucesso!<br /><br />
            O ID atribuído foi <span class="novo_id">{{ novo_id }}</span><br /><br />
            <a href="/read/{{ novo_id }}" class="botao">Visualizar esse Monstro</a>
        </p>
    </div>

    {% endif %}

</body>
</html>