<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Monstro</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    {% include 'header.html' %}
    
    {% if sucesso %}

    <div class="bloco removido">
        <p>
            Monstro removido com sucesso!
        </p>
    </div>

    <div class="bloco">
        <a href="/read" class="botao">Visualizar todos os Mosntros</a>
    </div>

    {% elif registro %}

    <div class="bloco">
        <h2> Remover Monstro <span class="novo_id">{{ registro.id }}</span> </h2>
    </div>

    <div class="bloco">
        <p class="certeza">
            Tem certeza que deseja remover o Monstro <span class="novo_id">{{ registro.nome }}</span> ?
            <br />
            <a href="/delete/{{ registro.id }}/confirmed" class="botao">Remover</a>
            <a href="/read" class="botao">Cancelar</a>
        </p>
    </div>

    {% else %}

    <div class="bloco removido">
        <p>
            NENHUM Monstro ENCONTRADO! <br /><br /> VALOR INVÁLIDO DE ID!
        </p>
    </div>

    <div class="bloco">
        <a href="/read" class="botao">Visualizar todos os Mosntros</a>
    </div>

    <div class="elemento">
        <label for="imagem_url">Descrição Geral</label>
        <input type="text" name="imagem_url" id="imagem_url">
    </div>
    {% endif %}

</body>
</html>