<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bestiário - Dungeons & Dragons</title>
  <link rel="stylesheet" href="../static/styles.css">

  
</head>
<body>
  <audio src="../static/music/entrada.mp3" class="musica" id="entrada"></audio>
  <div class="bloco"><img id="logo" src="../static/images/logo.png" alt=""></div>
  <button onclick="musicaEntrada.play()">Teste</button>
  <script src="../static/script.js"></script>

</body>
</html>