<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bestiário - Dungeons & Dragons</title>
  <link rel="stylesheet" href="../static/styles.css">  
</head>
<body>
  {% include 'header.html' %}
  <audio src="../static/music/Track 1.wav" id="som"></audio>
  <button onclick="som.play()" id="TocaMusica">Clique aqui!</button>
  <script src="../static/script.js"></script>
</body>
</html>