<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar monstro {{registro['id']}}</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    {% include 'header.html' %}

    {% if sucesso %}
    <div class="bloco">Monstro {{registro.id}} foi atualizado(a)!</div>

    {% else %}

    <form class="update" action="/update/{{registro.id}}" method="post">
        <div class="elemento">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" value="{{registro.nome}}">
            <label for="tipo">Tipo</label>
            <input type="text" name="tipo" id="tipo" value="{{registro.tipo}}">
        </div>

        <div class="elemento">
            <label for="descricaogeral">Descrição Geral</label>
            <input type="text" name="descricaogeral" value="{{registro.descricaogeral}}" id="descricaogeral descricao">
        </div>

        <div class="elemento">
            <label for="niveldesafio">Nivel do desafio</label>
            <input type="number" name="niveldesafio" id="niveldesafio" value="{{registro.niveldesafio}}">
            <label for="ca">CA</label>
            <input type="number" value="{{registro.ca}}" name="ca" id="ca">
        </div>

        <div class="elemento">
            <label for="tipo">PV</label>
            <input type="number" value="{{registro.pv}}" name="pv" id="pv">
            <label for="deslocamento">Deslocamento</label>
            <input type="number" value="{{registro.deslocamento}}" name="deslocamento" id="deslocamento">
        </div>

        <div class="elemento">
            <label for="forca">Força</label>
            <input type="number" value="{{registro.forca}}" name="forca" id="forca">
            <label for="destreza">Destreza</label>
            <input type="number" value="{{registro.destreza}}" name="destreza" id="destreza">
        </div>

        <div class="elemento">
            <label for="inteligencia">Inteligência</label>
            <input type="number" value="{{registro.inteligencia}}" name="inteligencia" id="inteligencia">
            <label for="sabedoria">Sabedoria</label>
            <input type="number" value="{{registro.sabedoria}}" name="sabedoria" id="sabedoria">
        </div>

        <div class="elemento">
            <label for="carisma">Carisma</label>
            <input type="number" value="{{registro.carisma}}" name="carisma" id="carisma">
            <label for="constituicao">Constituição</label>
            <input type="number"  value="{{registro.constituicao}}" name="constituicao" id="constituicao">
        </div>
        
        <button type="submit">Atualizar</button>        
    </form>

    {% endif %}


</body>
</html>