<link rel="stylesheet" href="static/style-single.css">
<section>
  <nav class="container-img-nome">
    <div class="icon-som" onclick="som.play()"><img src="static/icones/icon-volume2.png" width="30px"></div>
    <audio src="static/entrada.mp3" id="som"></audio>
    
    <div class="cont-img">
        <img src="static/esqueleto_minotauro.png" width="80%">
    </div>
    <br /><br /><div class="nome">Esquelo de Minotauro</div>
  </nav>
  
  <article class="cont-atrib-desc">
    <header class="atributos">
        <div class="cont-icon"><img class="icon" src="static/icones/stone1.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone2.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone3.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone4.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone5.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone6.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone7.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone8.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone9.png" width="80%"><span class="habilidade">ability</span></div>
        <div class="cont-icon"><img class="icon" src="static/icones/stone9.1.png" width="80%"><span class="habilidade">ability</span></div>
      </header>
    <div class="descricao">
        <p>Lorem ipsum dolor sit amet, <br/><br/>Consectetur adipiscing elit. Praesent tempor ex elit, et pretium ante pellentesque nec. Suspendisse augue metus, iaculis molestie congue vitae, pharetra in tortor. Fusce nisl dui, iaculis sed massa eget, commodo ullamcorper ligula. Phasellus blandit et nisl ac vehicula. Sed dapibus, odio vel porttitor consectetur, leo nisl aliquet odio, et porttitor leo lacus quis leo. Donec eu elementum mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ut ipsum a felis iaculis fermentum. Phasellus cursus, est ac finibus vestibulum, ante diam scelerisque mauris, quis molestie ante ante ac odio. Proin sed justo faucibus, condimentum ligula id, cursus metus. </p>

    </div>
  </article>
</section>
<script>
    let som = document.getElementById('som');
</script>
